# Ignore all of the Python env file
/application-ev

# Ignore all of the Python virtual environment files
venv/

# Ignores all of the Python cache files.
__pycache__/
/app/__pycache__
/node_modules

# Ignore structure file
structure.txt