<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrailMate</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/output.css') }}">
</head>

<body class="bg-white">
    <!-- Navbar -->

  
    {% block content %}
    <!-- Each page will insert its own content here -->
    {% endblock %}
    
    <!-- JS -->
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>
